// Coded by alireza
// github.com/wwwAlireza
@mixin centerItems {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

// up section
.up-section {
    width: 100%;
    height: 10%;
    padding: 11px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.us-item {
    margin: 4px;
}

.circle {
    width: 37px;
    height: 37px;
    background-color: #fff;
    outline: none;
    border-radius: 50%;
    @include centerItems();
    .user-icon {
        width: 75%;
        opacity: .7;
    }
    &:hover {
        background-color: rgba($color: #000, $alpha: 0.07)
    }
    .apps-icon {
        width: 60%;
        opacity: .7;
    }
}

.us-links {
    text-decoration: none;
    color: #000;
    font-size: .8rem;
    font-weight: 400;
    margin: 5px;
    position: relative;
    bottom: 3px;
    &:hover {
        color: #000;
        text-decoration: underline;
    }
}

// center section
.center-section {
    height: 80%;
    @include centerItems();
    flex-direction: column;
    padding-bottom: 200px;
}

.input-container {
    width: 570px;
    height: 30px;
    margin: 20px;
    box-sizing: content-box;
    padding: 7px 15px;
    border: 1px solid rgba($color: #000000, $alpha: .2);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search-icon {
        width: 4%;
        opacity: .5;
    }
    .mic-icon {
        width: 4%;
        cursor: pointer;
    }
    &:hover {
        box-shadow: 0 0 5px -1px rgba($color: #000000, $alpha: .3);
    }
    @media screen and (max-width:625px) {
        width: 85%;
    }
}

.line {
    width: .2px;
    height: 80%;
    background-color: rgba($color: #000000, $alpha: .2);
    visibility: hidden;
}

.close-icon {
    padding: 10px 0;
    cursor: pointer;
    opacity: .6;
    visibility: hidden;
}

#input {
    flex-grow: .9;
    outline: none;
    border: 0;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 10px 0;
}

.cs-down {
    width: 580px;
    height: 40px;
    background-color: transparent;
    @include centerItems();
    .cs-down-item {
        width: 130px;
        height: 35px;
        background-color: #f8f9fa;
        margin: 10px;
        font-size: .9rem;
        font-weight: 450;
        border-radius: 4px;
        padding: 5px;
        cursor: pointer;
        @include centerItems();
        &:hover {
            border: 1px solid rgba($color: #000000, $alpha: .2);
        }
        &:active {
            border: 1px solid var(--bs-blue);
        }
    }
}

// down section
.down-section {
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    position: fixed;
    bottom: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1200px) {
        justify-content: space-around;
    }
    @media screen and (max-width:650px) {
        flex-direction: column;
        .ds-right {
            margin-top: 20px;
        }
    }
    .ds-link {
        text-decoration: none;
        color: #000;
        opacity: .8;
        font-size: .9rem;
        margin: 10px;
        font-weight: 480;
        &:hover {
            text-decoration: underline;
        }
    }
}